<div class="min-h-screen w-[400px] mx-auto flex flex-col justify-center sm:py-4">
    <div class="xs:p-0 mx-auto md:w-full space-y-3 md:max-w-md">
      <div class="bg-white shadow w-full rounded-lg divide-y divide-gray-200 border-t-4 border-orange-600">
        <div class="px-5 py-5">
          <div class="py-3">
            <img src="assets/appsmith-logo-no-margin.png" width="40%" class="mx-auto" alt="" srcset="" />
          </div>
          <div class="space-y-3 mb-4">
            <div>
              <h3 class="font-semibold text-center text-xl">Sign in</h3>
            </div>
            <div>
              <h5 class="text-center text-base">Sign in to your account</h5>
            </div>
          </div>
          <label class="font-semibold text-sm text-gray-600 pb-1 block">E-mail</label>
          <input type="text" class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" />
          <label class="font-semibold text-sm text-gray-600 pb-1 block">Password</label>
          <input type="text" class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" />
          <button type="button"
            class="transition duration-200 bg-orange-600 hover:bg-orange-600 focus:bg-orange-700 focus:shadow-sm focus:ring-4 focus:ring-orange-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
            <span class="inline-block mr-2">Sign in</span>
          </button>
          <div class="text-center px-4 py-4">
            <a class="inline-block underline cursor-pointer text-sm ml-1">Forgot Password</a>
          </div>
        </div>
      </div>
  
      <div class="py-5 bg-white shadow w-full rounded-lg divide-y divide-gray-200">
        <div class="grid grid-rows-2 text-center gap-1">
          <div class="flex justify-center sm:justify-center whitespace-nowrap">
            <div>
              <span class="text-sm pr-2">Don't have an account?</span>
              <a class="text-orange-500 text-sm font-semibold">Sign up</a>
            </div>
          </div>
          <div class="flex justify-center space-x-2 text-center">
            <div>
              <a class="inline-block underline cursor-pointer text-sm ml-1">Privacy policy</a>
            </div>
            <div>
              <a class="inline-block underline cursor-pointer text-sm ml-1">Terms and conditions</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  